body{
    background-image: url('dark_wood.png');
}

div{
    background-color: #8E41D5;
}

p{
    color: white;
    font-weight: bold;
    font-family: "Arial";
}

form{
    color:white
}

a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}

h3 {
    color:#FFBC00; 
    font-size: 40px; 
    font-family: "Passion One"; 
    margin-bottom: 0px;
    
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

#Header{ 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;

    border-radius: 25px;
    border: 2px solid rgb(236, 224, 53);
    padding: 20px;
    width: 200px;
    height: 150px;
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;
    text-shadow: 2px 2px red;
}

#LeftNav{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    opacity: 0.5;

    border-radius: 25px;
    border: 2px solid rgb(236, 224, 53);
    padding: 20px;
    width: 500px;
    height: 500px;
}

#LeftNav img {
}

#LeftNav ul {

}

#LeftNav h3{

}

#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;

    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
}

#Footer{
    text-align: center;
    border:solid 8px black;
    background-image: linear-gradient(purple, yellow);
}